body{
    margin: 0em;
    background-color: #FFFFFF;
}

ul{
    margin: 0;
    padding: 0;
}

.navbar{

    position: fixed;

    a {
        color: #444444;
        text-decoration: none;
        background-color: #FFFFFF;
    }
    .container{
        margin: 0.5em 1em;
        display: grid;
        grid-template-columns: 30% 70%;

       .Lukas{
        margin-right: 5em;
       }
    }

    .PrimaryNav {
        text-align:justify;
        display: flex;
        list-style-type: none;
        //margin: 0 0em 0 auto;
        position: fixed;
        right: 0;

        li{
            
            padding: 0em 1em;
        }
        


    }
}

.hero {
    background: #575757;
    color: #FFFFFF;

    .container{
        display: flex;
    }

}

.HeroImage{
        
    right: 0;
    width: 300px;
}

.Profil_Image img{
    width: 300px;
}