@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:wght@400;600;700&display=swap');

:root {
    --timeline-BackroundColor: #565656;
    --timeline-color1: #0065BD;
    --timeline-color2: #007BFF;
}

html{scroll-behavior:smooth}

body{
    margin: 0em;
    padding: 0;
    background-color: #FFFFFF;
    font-family: 'Noto Sans';
}

ul{
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Bebas Neue';
    font-size: 3em;
}

h2{
    font-size: 2em;
}

.navbar{

    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em;
    background-color: #F4F4F4;
    

    a{
        text-decoration: none;
    }

    .Lukas{
        background: #0065BD;
        padding: 0.5em 1em;
        color: white;
        border-radius: 1em;

    }

    .PrimaryNav{
        //Its the unordered list

        display: flex;
        list-style-type: none;
        padding-top: 0.5em;

        li{
            padding: 0 1.5em;
        }


    }


    // // position: fixed;
    // color: #444444;

    // a {
    //     color: #444444;
    //     text-decoration: none;
    //     background-color: #FFFFFF;
    // }

    // .container{
    //     // margin: 0.5em 1em;
    //     // display: grid;
    //     // grid-template-columns: 30% 70%;

    //     display: flex;
    //     justify-content: space-between;

    // //    .Lukas{
    // //     margin-right: 5em;
    // //    }
    // }

    // .PrimaryNav {
    //     text-align:justify;
    //     display: flex;
    //     list-style-type: none;
    //     //margin: 0 0em 0 auto;
    //     position: fixed;
    //     // right: 0;

    //     li{
            
    //         padding: 0em 1em;
    //     }
        


    // }
}

// .hero {
//     background: #575757;
//     color: #FFFFFF;

//     .container{
//         display: flex;
//     }

// }

// .HeroImage{
        
//     right: 0;
//     width: 300px;
// }

// .Profil_Image img{
//     width: 300px;
// }

.hero{
    background-color: #3d3d3d;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: 45% auto;
    padding: 3em 0;
    //justify-content: space-between;

    .Welcome{
        display: block;
        padding: 5em 4em;
        text-align: center;

        h1{
            margin-bottom: 2em;
        }
    }
}

.HeroImage{

    display: block;
    //margin: 2em 0 2em 0em; 
    width: 100%;
    object-fit: scale-down;
    
}

.Profil_Image{
    
    //display: block;
    width: 100%;

    
}

.WhoAmI{
    background-color: #EDEDED;
    padding: 4em 3em;
    display: grid;
    grid-template-columns: 35% auto;
    

    .WhoAmI_Text{
        //display: block;
        margin: 0em 7em 0 7em ;     //orginally 5em

        h1{
            text-align: center;
            margin-bottom: 1em;
        }

        p{
            text-align: justify;
            line-height: 170%;
            margin-bottom: 1.8em;

        }
    }
    
    span{
        font-weight: bold;
    }
}

.skills{

    h1, h2{
        text-align: center;
    }

    .Skill_container{
        display: grid;
        grid-template-columns: 50% auto;


        .Skills_left_col{
            background-color: #EDEDED;
            margin: 0 2.5em 0 5em;
            padding: 0 2.5em 1em;

            // .chart_wrap{
            //     display: flex;
            //     justify-content: center;
            // }

            // .piechart{
            //     display: block;
            //     position: relative;
            //     overflow: hidden;
            //     margin: 0 auto;
                
            // }

            .chart_wrap {
                display: flex;
                justify-content: center;
                position: relative;
                padding-bottom: 16em;
                height: 0;
                overflow:hidden;
            }
            
            .chart_div {
                position: absolute;
                top: 0;
                left: 0;
                width:100%;
                height:100%;
            }

        }

        .Skills_right_col
        {
            background-color: #EDEDED;
            margin: 0 5em 0 2.5em;
            padding: 0 2.5em 1em;
        }
    }
}

.Timeline{
    background-color: var(--timeline-BackroundColor);
    margin-top: 3em;
    padding: 0.1em 0 4em;
    

    h1{
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 0.5em;
    }

    h2{
        color: #FFFFFF;
        text-align: center;
    }

    span{
        font-weight: bold;
    }

    .start{
        margin: 0 auto ;
        width: 2em;
        height: 2em;
        border-radius: 100%;
        border: 1em solid var(--timeline-color1);
        color: var(--timeline-BackroundColor);
        z-index: 3;
    }
    .start-line{
        position: absolute;
        top: -1.5em;
        left: -4.5em;
        height: 5em;
        width: 1em;
        background-color: var(--timeline-color1);
    }

    .timeline-left-col{
        padding-right: 4em;
        h3{
            color: var(--timeline-color1);
            text-align: center;
        }
    }

    .timeline-right-col{
        padding-left: 4em;
        h3{
            color: var(--timeline-color1);
            text-align: center;
        }
    }

    .left-col-container{
        padding-right: 4em;
    }
    
    .circle_left{
        position: absolute;
        top: -3em;
        left: -6em;
        width: 4em;
        height: 4em;
        border-radius: 100%;
        background-color: var(--timeline-color2);
        z-index: 4;
    }

    .circle_right{
        position: absolute;
        top: -3em;
        right: -6em;
        width: 4em;
        height: 4em;
        border-radius: 100%;
        background-color: var(--timeline-color1);
        z-index: 4;
    }

    .quarter_circle_left{

        position: absolute;
        top: -4em;
        left: -4em;
        width: 3em;
        height: 3em;
        border-top-right-radius:100%;
        border-top-left-radius:0;
        border-bottom-right-radius:0;
        border-bottom-left-radius:0%;
        background-color: var(--timeline-color1);
        z-index: 3;
    }
    .quarter_circle_right{

        position: absolute;
        top: -4em;
        right: -4em;
        width: 3em;
        height: 3em;
        border-top-right-radius:0%;
        border-top-left-radius:100%;
        border-bottom-right-radius:0;
        border-bottom-left-radius:0%;
        background-color: var(--timeline-color2);
        z-index: 3;
    }

    .circle1{
        position: relative;
    }

    .left-col-line{
        position: absolute;
        right: -4.5em;
        top:  3em;
        width: 1em;
        height: 100%;
        background-color: var(--timeline-color1);

    }

    .right-col-line{
        position: absolute;
        left: -4.5em;
        top: 3em;
        width: 1em;
        height: 100%;
        background-color: var(--timeline-color2);

    }

    .left-vertical-line{
        position: absolute;
        top: 2.5em;
        right: -4em;
        height: 1em;
        width: 4em;
        background-color: var(--timeline-color2);
    }

    .right-vertical-line{
        position: absolute;
        top: 2.5em;
        left: -4em;
        height: 1em;
        width: 4em;
        background-color: var(--timeline-color1);
    }


    .content-left, .content-right{
        background-color: #EDEDED;
        position: relative;
        padding: 0 0.5em 0.5em;
    }


    .Timeline-Container{
        display: grid;
        grid-template-columns: 50% auto;
        padding: 0 3em;


        .right-col-container1{
            position: relative;
            z-index: 2;

            h2{
                margin-top: 0.5em;
            }
            &:before{
                content: '';
                position: absolute;
                top: 2.5em;
                right: 0em;
                height: 1em;
                width: 100%;
                background-color: var(--timeline-color1);
            }
        }

        .left-col-container1{
            margin-top: 8em;
            position: relative;
            z-index: 5;

            &:before{
                content: '';
                position: absolute;
                top: 2.5em;
                left: 0em;
                height: 1em;
                width: 100%;
                background-color: var(--timeline-color2);
            }
        }

        .right-col-container2{
            position: relative;
            z-index: 6;


            &:before{
                content: '';
                position: absolute;
                top: 2.5em;
                right: 0em;
                height: 1em;
                width: 100%;
                background-color: var(--timeline-color1);
            }
            .TumLogo{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 60%;
            }
        }

        .left-col-container2{
            position: relative;
            z-index: 7;

            &:before{
                content: '';
                position: absolute;
                top: 2.5em;
                left: 0em;
                height: 1em;
                width: 100%;
                background-color: var(--timeline-color2);
            }
        }

        .right-col-container3{
            position: relative;
            z-index: 8;


            &:before{
                content: '';
                position: absolute;
                top: 2.5em;
                right: 0em;
                height: 1em;
                width: 100%;
                background-color: var(--timeline-color1);
            }
            .eCARus{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }
            .right-col-line{
                height: 115%;
            }
        }

        .left-col-container3{
            position: relative;
            z-index: 9;

            &:before{
                content: '';
                position: absolute;
                top: 2.5em;
                left: 0em;
                height: 1em;
                width: 100%;
                background-color: var(--timeline-color2);
            }
        }


    }


}